.code-med {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    align-items: center;

    img {
        width: 50vw;
    }

    h1 {
        margin-top: 5vh;
        display: block;
        text-align: center;
        color: #FF0000;
        font-size: 4rem;
    }

    p {
        margin-top: 5vh;
        display: block;
        width: 80vw;
        text-align: center;
        font-size: 20px;
        line-height: 30px;
    }

    .informacionEmpresarial {
        margin-top: 7vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90vw;

        .info {
            width: 40vw;
            display: block;
            text-align: center;

            h3 {
                font-size: 40px;
            }

            p {
                display: block;
                width: 100%;
                margin-top: 3vh;
            }

        }
    }
}
.about {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        display: block;
        width: 100%;
        color: #FF0000;
        font-size: 4rem;
        text-align: center;
        margin-top: 30px;
    }

    .teamContainer {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        width: 100%;

        .teamMember {
            width: 22.5%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            img {
                margin-top: 30px;
                width: 225px;
                border-radius: 1000px;
            }

            .role {
                color: #FF0000;
                font-weight: 600;
                font-size: 25px;
                margin-top: 5px;
            }

            p {
                margin-top: 10px;
                text-align: center;
                line-height: 24px;
                margin-bottom: 40px;
            }
        }

    }
}